body{
	background: #403A3E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #BE5869, #403A3E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #BE5869, #403A3E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container{
	margin: 100px auto;
	width: 360px;
	background-color: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

h1{
	background: #2c3e50;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	margin: 0;
	color: white;
	padding: 10px 20px;
	text-transform: uppercase;
	font-weight: lighter;
	font-family: 'Kaushan Script', cursive;
}

ul{
	list-style: none;
	background-color: white;
	margin: 0;
	padding: 0;
}

li{
	line-height: 40px;
	height: 40px;
	margin: 0px;
	font-family: 'Courgette', cursive;
	color: green;
}

li:nth-child(2n){
	background-color: #ccd4e2;
}

input{
	font-size: 18px;
	color: steelblue;
	background-color: #f7f7f7;
	outline: none;
	width: 100%;
	box-sizing: border-box;
	padding: 13px 13px 13px 20px;
	border: 3px solid rgba(0, 0, 0, 0);
	font-family: 'Mirza', cursive;
}

input:focus{
	background-color: white;
	border: 3px solid steelblue;
}

.completed{
	color: maroon;
	text-decoration: line-through; 
}

.fa-calendar-plus{
	float: right;
}

span{
	background-color: maroon;
	color: white;
	opacity: 0;
	transition: .2s linear;
	width: 0px;
	margin-right: 20px;
	height: 40px;
	display: inline-block;
	text-align: center;
}

li:hover span{
	width: 40px;
	opacity: 1;
}